.my-main-bg-color {
    background-color: #3D47AF;
}

.my-item-color {
    background-color: #0A155A;
}

.my-grid {
    display: grid;
    grid-template-columns: 24px 1fr 24px 24px;
    gap: 7px;
}

.my-input-border {
    border: none;
    outline: none;
    background: none;
    box-shadow: 0 4px 0 -3px #97266d;
}

.my-input-grid {
    display: grid;
    grid-template-columns: 1fr 48px;
    gap: 12px;
}